@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 44, 62, 80;
  --background-end-rgb: 52, 73, 94;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}
